terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl

*.pem
*.key
.env

venv/
__pycache__/
*.pyc
*.pyo
*.pyd

*.log
*.env
docker-compose.override.yml

.DS_Store
Thumbs.db

# SSH keys
id_rsa
id_rsa.pub

nginx.conf~
